body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
    color: black;
    margin-left: 5px;
    text-decoration: none;
}
aside {
    border: 2px solid black;
    left: 2%;
    margin-top: 5px;
    padding: 5px;
    position: fixed;
    width: fit-content;
    z-index: 10;
    background-color: white;
}
section {
    display: flex;
    flex-wrap: wrap
}
.good-container {
    margin: 10px;
    position: relative;
}
img.good_photo {
    float: left;
    margin-right: 15px;
}