{% extends "base.html" %}

{% block content %}
    <aside>
        <p style="font-weight: bolder">Категории</p>
        <ul>
            <li>List</li>
            <li>of</li>
            <li>categories</li>
        </ul>
    </aside>
    <section>
        <div class="good-container">
            <h2 style="text-align: center;">Good name</h2>
            <img src="static/images/no-image.png" alt="no-image">
        </div>
        <div class="good-container">
            <h2 style="text-align: center;">Good name</h2>
            <img src="static/images/no-image.png" alt="no-image">
        </div>
        <div class="good-container">
            <h2 style="text-align: center;">Good name</h2>
            <img src="static/images/no-image.png" alt="no-image">
        </div>
        <div class="good-container">
            <h2 style="text-align: center;">Good name</h2>
            <img src="static/images/no-image.png" alt="no-image">
        </div>
    </section>
{% endblock %}