{% extends "base.html" %}

{% block content %}
    <aside>
        <p style="font-weight: bolder">Категории</p>
        <ul>
            <li>List</li>
            <li>of</li>
            <li>categories</li>
        </ul>
    </aside>
    <section>
        {% for good in goods %}
            <div class="good-container" onclick="location.href='good/{{good.id}}'">
                <h2 style="text-align: center;">{{good.name}}</h2>
                <img src="{{url_for('static', filename='uploads/{}'.format(good.photo))}}"
                     alt="no-image" width="300" height="300">
            </div>
        {% endfor %}
    </section>
{% endblock %}